@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif; /* Utiliza el nombre de la fuente específico proporcionado por Google Fonts */
    height: 100vh;
    background-color: black;
  }
  